
body, html {
    text-align: center;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main {
    font-weight: normal;
    font-size: 50;
    color: #ffffff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}



.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}



header h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.download-button {
    display: inline-block;
    text-decoration: none;
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.phone-image {
    text-align: center;
    margin: 30px 0;
}

.phone-image video {
    width: 100%;
    max-width: 320px;
    height: auto;
}

.travel-guide {
    background: #333;
    color: gray;
    padding: 30px;
    text-align: center;
}

.travel-guide h2 {
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: 300;
}

.travel-guide p {
    font-size: 21px;
}

.tent-image {
    text-align: center;
    margin: 30px 0;
}

.tent-image img {
    width: 100%;
    height: auto;
}

footer {
    background: #222;
    color: gray;
    padding: 20px 0;
    text-align: right;
}

.coming-soon-text {
    margin-top: 20px;
    font-style: italic;
    font-size: 21px;
}
