
body, html {
    text-align: center;
    background-color: black;
    font-family: Verdana, sans-serif;
}

.header--main {
    font-weight: normal;
    font-size: 50;
    color: #ffffff;
}

.header--secondary {
    font-weight: 300;
    font-size: 42;
    color: #ffffff;
}

.header--subheader {
    font-size: 21;
    color: gray;
}

.link--cta {
    font-size: 16px;
    color: aquamarine;
}

/*footer */

.footer--text {
font-size: 16px;
color: gray;
text-align: right;

}